*{padding:0;margin:0;border:0}*,*::after,*::before{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}nav,footer,header,aside{display:block}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%}
input,button,textarea{font-family:inherit}input::-ms-clear{display:none}button{cursor:pointer}button::-moz-focus-inner{padding:0;border:0}a,a:visited{text-decoration:none}
a:hover{text-decoration:none}ul li{list-style:none}img{vertical-align:top}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:400}

.wrap {
    font-family: 'Lato', sans-serif;
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;

}

.container {
    margin: 0 auto;
    max-width: 1600px;
    font-size: 15px;
    line-height: 30px;
}

.header__menu {
    display: flex;
    height: 780px;
    min-width: 1600px;
    justify-content: center;
    background: url(img/bg_2.jpg) center / cover no-repeat;
    /* background-size: 100% auto; */
}
.logo {
    margin: 100px 0 33.5px;
}
.info div {
    margin: 25px 67px 95px;
}
.footer__content {

    min-width: 1600px;}

@media (max-width:1280px) {
    .container {
        max-width: 970px;
        font-size: 13px;
        line-height: 20px;
    }
    .header__menu {
        min-width: 970px;
        height: 600px;
    }
    .footer__content {
        min-width: 970px;
    }
    .logo {
        margin: 50px 0 15px;
    }
    .info div {
        margin: 20px 47px 65px;
    }

}

@media (max-width:992px) {
    .container {
        max-width: 750px;
        font-size: 10px;
    }
    .footer__content {
        min-width: 750px;
    }
    .header__menu {
        min-width: 750px;
        height: 460px;
    }
    .logo {
        margin: 50px 0 15px;
    }
    .info div {
        margin: 20px 47px 65px;
    }

}

.header__burger {
    display: none;
}

.header__menu-items {
    display: flex;
    height: 85px;
    align-items: center;
    margin-top: 35px;
}

.header__menu-item {
    margin: 0 15px;
}

img.header__menu-item {
    margin: 0 45px;
}

@media (max-width:767px) {
    .container {
        max-width: 600px;
        font-size: 9px;
    }
    .footer__content {
        min-width: 600px;
    }

    .logo {
        margin: 50px 0 15px;
    }
    .info div {
        margin: 20px 47px 65px;
    }
    .header {
        position: fixed;
        width: 100%;
        left: 0;
    }
    .header__menu-item {
        margin: 5px 15px;
    }
    .test__burger {
        display: flex;
        margin: 10px 25px 10px 0;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        height: 27px;
    }
    .test__burger::after,
    .test__burger::before {
        content:'';
        background-color: #64c29e;
        width: 100%;
        height: 3px;
        width: 40px;
        transition: all 0.3s ease 0s;
    }

    .test__burger.active::after{
        transform: rotate(45deg) translateX(-4px);
    }
    
    .test__burger.active::before{
        transform: rotate(-45deg) translateX(-4px);
    }

    .test__burger.active {
        justify-content:center;

    }

    .test__burger span {
        background-color: #64c29e;
        top: 12px;
        height: 3px;
        width: 40px;
        transition: all 0.3s ease 0s;
    }

    .test__burger.active span {
        transform: scale(0);
    }
    .header__menu {
        background: #eef0f6;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        min-width: 600px;
        height: auto;
   
    }
    .header__menu.active {
        background: linear-gradient(180deg, rgba(238,240,246,1) 0%, rgba(238,240,246,1) 28%, rgba(227,239,246,0) 28.1%, rgba(0,212,255,0) 100%);
    }

    .header__menu-items.active {
        background: #eef0f6;
        height: auto;
        transform: translateY(0);
    }

    .header__menu-items {
        transition: all 0.3s ease 0s;
        transform: translateY(-200px);
        font-size: 20px;
        flex-direction: column;
        
        height: 0;
        width: 100%;
        margin-top: 0px;
        align-items: center;
        justify-content: flex-end;
        border-bottom: 1px solid #64c29e;
    }
    .header__menu-items img,
    .header__menu-items span {
        display: none;
    }

}


@media (max-width:580px) {
    .container {
        max-width: none;
        font-size: 9px;
    }
    .footer__content {
        min-width: none;
    }
    .test__burger {
        margin-right: 85px;
        width: 30px;
        height: 20px;
    }
    .test__burger.active::after{
        transform: rotate(45deg) translateX(-2px);
    }
    
    .test__burger.active::before{
        transform: rotate(-45deg) translateX(-2px);
    }
    .test__burger::after,
    .test__burger::before {
        height: 2px;
        width: 30px;
    }
    
    .test__burger span {
        top: 9px;
        height: 2px;
        width: 30px;
    }

    .logo {
        margin: 50px 0 15px;
    }
    .info div {
        margin: 15px 30px 42px;
    }
    .header__menu {
        background: #eef0f6;
        min-width: none;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        height: auto;
    }

}

@media (max-width:480px) {
    .container {
        max-width: none;
        font-size: 9px;
    }

    .test__burger {
        margin-right: 125px;

    }

    .footer__content {
        min-width: none;
    }
    .logo {
        margin: 50px 0 15px;
    }
    .info div {
        margin: 15px 30px 42px;
    }
    .header__menu {
        background: #eef0f6;
        min-width: none;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        height: auto;
    }

}

a:visited, a, a:hover {
    color: #4d4959;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}







.main {

    display: flex;
    justify-content: center;
}


.main__parts {
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ALL */



.main__part {
    display: flex;
    height: 600px;
    background: #fff;
}

.info {
    overflow:hidden;
}

.info img {
    margin-top: 5em;
}

.info h2 {
    margin-top: 30px;
    font-size: 1.2em;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #353738;
}
h2 span {
    font-weight: 300;
    color: #848789;
}

.info div {
    
    height: auto;
    text-align: justify;
    
    font-weight: 400;
    color: #848789;
}


/* TOP */
.main__part-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: #f7f7f7;
}
@media (max-width:767px) {
    .main__part-top {
        padding-top: 80px;
    }
}

@media (max-width:580px) {
    .main__part-top {
        padding-top: 60px;
    }
}

@media (max-width:480px) {
    .main__part-top {
        padding-top: 60px;
    }
}

.main__part-top-title {
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #353738;
}

.main__part-top-text {
    margin: 33.5px 250px 145.5px;
    height: auto;
    text-align: center;
    font-size: 1.2em;
    line-height: 2.1em;
    font-weight: 400;
    color: #848789;
}

@media (max-width:1280px) {
    .main__part-top-text {
        margin: 33.5px 200px 105.5px;
    }
}

@media (max-width:767px) {
    .main__part-top-text {
        margin: 33.5px 100px 105.5px;
    }
}

/* SECOND */

/* .main__part-second {
    display: flex;
} */

.main__part-second-l {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    /* height: 30.5vw; */
    background: url(img/rectangle_1_54.jpg) center / cover no-repeat;

}

.main__part-second-r {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* height: 30.5vw; */
}



.main__part-second-r-t {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 2;
}

.main__part-second-r-b {
    flex: 1;
    background: url(img/rectangle_1_copy_2_56.jpg) center / cover no-repeat;

}

/* THIRD */

.main__part-third-r {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    background: url(img/rectangle_1_copy_5_61.jpg) center / cover no-repeat;
}

.main__part-third-l {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main__part-third-l-t {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 2;
}

.main__part-third-l-b {
    flex: 1;
    background: url(img/rectangle_1_copy_3_59.jpg) center / cover no-repeat;
}

/* FOURTH */

.main__part-fourth-l {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background: url(img/rectangle_1_copy_6_63.jpg) center / cover no-repeat;
}
@media (max-width:480px) {
    .main__part-second {
        max-width:480px;
    }

    .main__part-third {
        max-width:480px;
    }
    .main__part-fourth {
        max-width:480px;
    } 
    .main__part-second-l {
        flex: 1;
    }
    .main__part-third-r {
        flex: 1;
    }

    .main__part-fourth-l {
        display: none;
    }
}
.main__part-fourth-m {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main__part-fourth-m-t {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 2;
}

.main__part-fourth-m-b {
    flex: 1;
    background: url(img/rectangle_1_copy_6_65.jpg) center / cover no-repeat;
}

.main__part-fourth-r {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background: url(img/rectangle_1_copy_6_64.jpg) center / cover no-repeat;
}

/* BOTTOM */

.main__part-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: #f7f7f7;
}

.main__part-bottom-title {
    font-size: 1.28em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #353738;
}

.main__part-bottom-text {
    margin: 2em 10em 5em;
    height: auto;
    text-align: center;
    font-size: 1.7em;
    line-height: 2.4em;
    font-weight: 400;
    font-style: italic;
    color: #848789;
}
@media (max-width:767px) {
    .main__part-bottom-text  {
        margin: 2em 6em 5em;
    }
}

@media (max-width:580px) {
    .main__part-bottom-text  {
        margin: 2em 4em 5em;
    }
}
/* GALLERY */

.main__part-gallery {
    display: flex;
    width: 100%;
}

.gallery-a {
    display: flex;
    flex: 1;
}

.gallery-b {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.gallery-bw {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.gallery-c {
    display: flex;
    height: 266px;
}

.gallery-d {
    display: flex;
    flex: 1;
}

.pic1 {
    background: url("img/rectangle_3_118.jpg") center / cover no-repeat;
}

.pic2 {
    background: url("img/rectangle_3_copy_137.jpg") center / cover no-repeat;
}

.pic3 {
    background: url("img/rectangle_3_copy_3_139.jpg") center / cover no-repeat;
}
.pic4 {
    background: url("img/rectangle_1_copy_8_140.jpg") center / cover no-repeat;
}
.pic5 {
    background: url("img/rectangle_1_copy_7_136.jpg") center / cover no-repeat;
}
.pic6 {
    background: url("img/bg_170.png") center / cover no-repeat;
}
.pic7 {
    background: url("img/rectangle_3_copy_6_143.jpg") center / cover no-repeat;
}
.pic8 {
    background: url("img/rectangle_3_copy_7_144.jpg") center / cover no-repeat;
}

.main__part-shop {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #282f35;
    

}

.main__part-shop-button {
    background-color: #282f35;
    padding: 20px 60px;
    border: 1px solid #ffffff;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
}

.main__part-reg {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.main__part-reg-logo {
    width: 94px;
    height: 85px;
}

.main__part-reg-title {
    margin: 0 0 35px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
}

.main__part-reg-string {
    display: flex;
    margin-bottom: 30px;

}

.main__part-reg-input {
    min-width: 400px;
    height: 69px;
    padding: 27px 0 25px 30px;
    margin-right: 8px;
    background-color: #ffffff;
    border: 1px solid #d3d7d9;

    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
    color: #929292;   
}

@media (max-width:480px) {
    .main__part-reg-input {
        min-width: 200px;
    }
}

.main__part-reg-button {
    width: 126px;
    height: 69px;
    background-color: #64c29e;

}
.main__part-reg-button > p {
    font-family: 'Lato';
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer__content {
    display: flex;
   
    justify-content: center;
    background: #f7f7f7;
}

.footer__content-cont {
    width: 1100px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 767px) {
    .footer__content-cont {
        flex-direction: column;
    }
}

.footer__content-info h4 {
    font-size: 16px;
    line-height: 17px;
    font-weight: 700;
    color: #848789;
}
.footer__content-info p {
    font-size: 13.9px;
    line-height: 17px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
}

.footer__content-social {
    display: flex;

}

.footer__content-social-img {
    margin-right: 14px;
}

.footer__content-copyright {
    display: flex;
    align-items: center;
}

.footer__content-copyright-text {
    margin-right: 8px;
    font-size: 13.9px;
    line-height: 17px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
}

 